<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=KasirAppDB;User ID=app_user;Password=playboycardib123;TrustServerCertificate=True;"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>